<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gulp Primer</title>
</head>
<body>
  <%- include('./_header') %>
  <main>
    <h1>Hello gulp.js</h1>
  </main>
</body>
</html>
