<header>
  <nav class="navbar">
    <a class="navbar__brand" href="/">Hello Gulp</a>
    <ul class="navbar__items">
      <li><a href="/node.html">Node</a></li>
      <li><a href="/java.html">Java</a></li>
    </ul>
  </nav>
</header>
