<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gulp Primer</title>
  <%- include('./_styles') %>
</head>
<body>
  <div class="container container--gulp">
    <%- include('./_navbar') %>
    <main class="main">
      <h1 class="main__title">Gulp</h1>
      <div class="main__icon">
        <i class="devicon-gulp-plain"></i>
      </div>
    </main>
  </div>
</body>
</html>
